name: Django-app-workflow

on: [push]

jobs:
  flake8_test_and_tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
    uses: actions/setup-python@v2
    with:
      python-version: 3.7
    - name: Install_dependencies
      run: | 
        python -m pip install --upgrade pip 
        pip install flake8 pep8-naming flake8-broken-line flake8-return flake8-isort
        pip install -r requirements.txt 
    - name: Test with flake8 and django tests
      run: |
        python -m flake8
        pytest

  push_and_build_dockerfile:
    runs-on: ubuntu-latest
    needs: flake8_test
    steps:
    - name: Check
    uses: actions/checkout@v2 
    - name: Set up
    uses: docker/setup-buildx-action@v1 
    - name: Login
    uses: docker/login-action@v1 
    with:
      username:
      password:
    -name: Push
    uses: docker/build-push-action@v2
    with:
      push: true
      tags: ваш-логин-на-docker-hub/ваш-репозиторий-на-docker-hub:latest 

  deploy_project:
    runs-on: ubuntu-latest
    needs: push_and_build_dockerfile
    steps:

    telegram_message:
    runs-on: ubuntu-latest
    needs: deploy_project
    steps:
    
