name: Django-app-workflow

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: 3.7

    - name: Install dependencies
      run: | 
        # обновление pip
        python -m pip install --upgrade pip 
        # установка flake8 и его плагинов
        pip install flake8 pep8-naming flake8-broken-line flake8-return flake8-isort
        # установка зависимостей
        cd api_yamdb/
        pip install -r requirements.txt
        cd ..

    - name: Test with flake8 and django tests
      run: |
        # запуск проверки проекта по flake8
        python -m flake8
        pytest

  push:
    runs-on: ubuntu-latest
    needs: tests

    steps:
    - name: Check
      uses: actions/checkout@v3

    - name: Set up
      uses: docker/setup-buildx-action@v1 

    - name: Login
      uses: docker/login-action@v1 
      with:
        username: denislukianov2001
        password: Kiedis228a04

    - name: Walk
      run: |
        cd api_yamdb
        ls
        
    - name: Push
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: denislukianov2001/infra-web:latest 

  deploy:
    runs-on: ubuntu-latest
    needs: push

    steps:
    - name: ssh
      uses: appleboy/ssh-action@master
      with:
        host:
        username:
        key:
        script: |
          sudo docker pull denislukianov2001/infra-web
          sudo docker stop $(sudo docker ps -a -q)
          sudo docker run --rm -d -p 5000:5000 denislukianov2001/infra-web


  telegram:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
    - name: send_message
      uses: appleboy/telegram-action@master
      with:
        to:
        token:
        message: ${{ github.workflow }} успешно выполнен! 
